* {box-sizing: border-box;}

body {background-color: #EAEAEA;
		color: #555555;
		font-family: Arial, Helvetica, sans-serif;}
		
#wrapper {background-color: #000033;
			background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);}

header {background-color: #002171; color: #ffffff;
		text-align: center;
		letter-spacing: 0.25em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;}
header a {text-decoration: none;}
header a:link{color: #FFFFFF;}
header a:visited{color: #FFFFFF;}
header a:hover{color: #90C7E3;}

nav {font-weight: bold;
		padding: 0;
		font-size: 120%;
		text-align: center;}
		
nav a {text-decoration: none;}
nav a:link{color: #5C7FA3;}
nav a:visited{color: #344873;}
nav a:hover{color: #A52A2A;}
nav li {border-bottom: 1px solid #002171;}

nav ul {list-style-type: none;
			padding-left: 0;
			font-size: 1.2em;
			margin: 0;}

main {padding: 1px 20px 20px 30px;
		display: block;
		background-color: #FFFFFF;
		overflow: auto;}
		
main ul {list-style-image: url(images/marker.gif);}

h1 {margin-bottom: 0;
	margin-top: 0;
	font-family: Georgia, "Times New Roman", serif;}

h2 {color: #1976d2;
	font-family: Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px #CCCCCC;}
	
h3 {color: #000033;
	font-family: Georgia, "Times New Roman", serif;}

dt {color: #002171;}

.resort {color: #1976d2;
		font-weight: bold;}

footer {font-size: 75%;
		font-style: italic;
		text-align: center;
		font-family: Georgia, "Times New Roman", serif;
		padding: 2em;
		background-color: #FFFFFF;}

table {border: 2px solid #3399CC;
		border-collapse: collapse;}
		
td {padding: 0.5em;
	border: 2px solid #3399CC;
	text-align: center;}

th {padding: 0.5em;
	border: 2px solid #3399CC;}

tr:nth-of-type(odd) {background-color: #F5FAFC;}

#assignment {color: #FF0000;
			weight: 2em}
	
#text {text-align: left}

#contact {font-size: 90%;}

#homehero {height: 300px;
			background-image: url(images/coast2.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}
			
#yurthero {height: 300px;
			background-image: url(images/yurt.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}
			
#trailhero {height: 300px;
			background-image: url(images/trail.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;}
			
form {display:flex; flex-flow: column nowrap;}

input, textarea {margin-bottom: 0.5em;}
			
@media (min-width: 600px){
		nav ul {display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-around;}
		nav li {border-bottom: none;}
		section {margin-left: 2em;
					margin-right: 2em;
					flex: 1;}
		.flow {display: flex;
				flex-direction: row;}
		form {width: 60%;
				max-width: 30em;
				display: grid;
				grid-gap: 1em;
				gap: 1em;
				grid-template-columns: 6em 1fr;}
		input[type="submit"]{grid-column: 2/3; width: 9em;}
}

@media (min-width: 1024px){
		#wrapper {margin: auto;
				width: 80%;
				border: 1px solid #002171;
				box-shadow: 3px 3px 3px #002171;}
		nav {text-align: left;
				padding-left: 1em;}
		@supports (display: grid){
			nav ul {flex-direction: column;
					padding-top: 1em;}
			.hero {grid-area: hero;}
			header {grid-area: header;}
			nav {grid-area: nav;}
			main {grid-area: main;}
			footer {grid-area: footer;}
			#wrapper {display: grid;
						grid-template:
						"header header"
						"nav    hero"
						"nav    main"
						"nav    footer"
						/ 180px 1fr;}
	}
}